<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1
/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
 crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "css/demo1.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>


      <div class="jumbotron">
        <h1>WELCOME TO VEERU NEWS PORTAL</h1>
        <p>CONT....NEWS UPDATES</p>
        <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">moviesinfo</a>
        <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">sportsinfo</a>
        <a class="btn btn-primary btn-lg" href="/generalinfo" role="button">generalinfo</a>
      </div>
    </div>

  </body>
</html>
