<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
      table{
        border:1px solid red
      }
      tr:nth-of-type(even){
        background:red
      }
      tr:nth-of-type(odd){
        background:yellow
      }
      h1{
        color:red
      }
      h2{
        color:green
      }
    </style>
  </head>
  <body>
    <h1>Hello World Wel come to django !!!!!</h1>
    <hr>
    <h2>server date and time is :{{date_msg}}</h2>
    <h2>developed by :{{name}}</h2>
    <table>
      <head>
        <th>name</th>
        <th>age</th>
      </head>
      <tr>
        <td>Kareena</td>
        <td>38</td>
      </tr>
      <tr>
        <td>katrina</td>
        <td>38</td>
      </tr>
    </table>

  </body>
</html>
