<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanku Your Items Are </h1>
    {% if request.session%}
      <table>
        <thead>
          <th>ITEMNAME</th>
          <th>quantity</th>
        </thead>
          {%for key,value in request.session.items %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
          {%endfor%}
      </table>
      {%else%}
        <p>No session data</p>
    {%endif%}

  </body>
</html>
