<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{%static 'css/ormdemo.css'%}"> -->
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <table border="4">
        <thead>
          <th>Employee No</th>
          <th>Employee Name</th>
          <th>Employee Salary</th>
          <th>Employee Address</th>
        </thead>
        {%for i in employees%}
          <tr>
            <td>{{i.eno}}</td>
            <td>{{i.ename}}</td>
            <td>{{i.esal}}</td>
            <td>{{i.eaddr}}</td>
          </tr>
        {%endfor%}
      </table>

    </div>

  </body>
</html>
