<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/feedbackdemo.css'%}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
      <h1>STUDENT FEED FEEDBACK FORM</h1>
      <form  method="post">
        {{fb.as_p}}
        {%csrf_token%}
        <input  type="submit"  Class="bnt bnt-primary" value="Submit Feedback">

      </form>

    </div>


  </body>
</html>
