<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{%static 'css/moviedemo.css'%}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="{%static 'image/img.jpg'%}" >
    <img src="{%static 'image/img1.jpg'%}" >
    <img src="{%static 'image/img2.jpg'%}" >

    <div class="container" align='center'>

      <form  method="post">
        <h1>ADD MOVIE INFORMATION</h1>
        {{mf.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-primary" value="Register">

      </form>

    </div>

  </body>
</html>
