<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/moviedemo.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@200;300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>!!Hello, Welcome to Veeru Movies!!</h1>
        <p>Movies upto date</p>
        <a class="btn btn-primary btn-lg" href="/addmovie" role="button">addmovie</a>
        <a class="btn btn-primary btn-lg" href="/listmovie" role="button">listmovie</a>
      </div>

    </div>

  </body>
</html>
