<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<h1>Student information deskboard</h1>
<table border="2">
  <thead>
    <th>Student Rollno</th>
    <th>Student Name</th>
    <th>Student Dept</th>
    <th>Action</th>
  </thead>
  {%for i in stud%}
  <tr>
    <td>{{i.srollno}}</td>
    <td>{{i.sname}}</td>
    <td>{{i.sdept}}</td>
    <td><a href="/update/{{i.id}}">Update</a> <a href="/delete/{{i.id}}">Delete</a></td>
  </tr>
  {%endfor%}
  </table><br>
  <a href="/create" class="btn btn-success btn-large">Insert Student info</a>

{%endblock%}
