<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/newspage.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center' >
      <div class="jumbotron">
        <h1>Hello, RISHI NEWS PAGE!!!!!!</h1>
        <p>NEWS UPDATING......</p>
        <a class="btn btn-primary btn-lg" href="/sports" role="button">Sports</a>
        <a class="btn btn-primary btn-lg" href="/movies" role="button">Movies</a>
        <a class="btn btn-primary btn-lg" href="/general" role="button">General</a>
      </div>
    </div>
  </body>
</html>
